*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds.conf
/files
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.idea
.svn
feeds/*.index
feeds/*.tmp
key-build
key-build.pub
